sudo: false
language: node_js
node_js:
  - lts/*

addons:
  apt:
    packages:
      - python3-pip

before_script:
  - pip3 install --upgrade pip
  - pip3 install slither-analyzer

script:
  - slither .
